@use 'base/variables' as v;
@use 'base/mixins' as m;

.heder__link {
    width: 15rem;
    // margin-left: .5rem;
    background: center/contain no-repeat url(../img/uni_javeriana.webp);
    @include m.desktop_1920 {
        width: 19rem;
        height: 11rem;
    }
    @include m.desktop_2240 {
        width: 19rem;
    }
}